/* Team SIP: Pritom Barua ,Ivan Lin,  Sky Chen, Magan Yan
IntroCS pd07 sec11
HW05 Stuylin'
2021-02-09 */

li {
	color: cyan;
}

h1 {
color: red;
	font-family: serif; 
}

h2 {
	color: red;
}

h3 {
	color: gold;
}

p {
	color: green;
	font-size: 20px
}

body {
	background-color: violet;
	font-family: monospace;
}
