/* Team SIP: Pritom Barua ,Ivan Lin,  Sky Chen, Magan Yan
IntroCS pd07 sec11
HW05 Stuylin'
2021-02-09 */

li {
	color: cyan;
}

h1 {
	color: red;
	font-family: serif; 
}

h2 {
	color: red;
	font-family: serif; 
}

h3 {
	color: gold;
	font-family: serif; 
}

p {
	color: green;
	font-family: arial; 
	font-size: 20px
}

body {
	background-color: violet;
	background-size: 1x 2x; 
	font-family: monospace;
	font-style: normal;
	border: 5px solid blue;
}
